@{
    ViewBag.Title = "Home";
}
<div class="divIndexBody">
    <div class="divSlide">
        <img src="~/Images/Cover/rammstein.jpg" alt="Rammstein" id="imgSlide" />
    </div>

    <div class="divSlideIndexWrap">
        <div class="divSlideIndexInner">
            <div class="divSlideIndex" id="divSlideIndex1"></div>
            <div class="divSlideIndex" id="divSlideIndex2"></div>
            <div class="divSlideIndex" id="divSlideIndex3"></div>
        </div>
    </div>

    <div class="divNewAlbumWrap">
        <div class="divNewAlbumInner">
            <div class="divNewAlbum">
                <h2 class="txtWhite float-left">New Albums</h2>
                <div class="float-left divLine"></div>
            </div>

            <div style="height:32px"></div>

            <div class="divNewAlbum divNewAlbumList divNewAlbumListLeft" id="divNewAlbumList1">
                <h1 class="txtWhite float-left txtAlbum txtAlbumLeft">Rammstein - Liebe Ist Fur Alle Da</h1>
                <h3 class="txtWhite float-left txtAlbum txtAlbumContentLeft">
                    Liebe ist für alle da is the sixth studio album by German Neue Deutsche Härte band Rammstein,
                    which was released in most of Europe on October 16, 2009, the United Kingdom on October 19, 2009,
                    and the United States on October 20, 2009. The album sold 679,500 copies worldwide until February 2010.
                </h3>
            </div>

            <div class="divNewAlbum divNewAlbumList divNewAlbumListRight" id="divNewAlbumList2">
                <h1 class="txtWhite float-right txtAlbum txtAlbumRight">Dream Theater - Train Of Thought</h1>
                <h3 class="txtWhite float-right txtAlbumContent txtAlbumRight">
                    Train of Thought is the seventh studio album by progressive band Dream Theater,
                    released on November 11, 2003 through Elektra Records. Inspired by the audience response to Dream Theater's heavier songs while on tour,
                    in the "Chaos in Progress" documentary, Portnoy says that they wanted Train of Thought to be a "balls to the wall" album with heavier,
                    darker riffing, exposing them to a number of new metal fans.
                </h3>
            </div>

            <div class="divNewAlbum divNewAlbumList divNewAlbumListLeft" id="divNewAlbumList3">
                <h1 class="txtWhite float-left txtAlbum txtAlbumLeft">Slipknot - .5: The Gray Chapter</h1>
                <h3 class="txtWhite float-left txtAlbum txtAlbumContentLeft">
                    .5: The Gray Chapter is the fifth studio album by American metal band Slipknot. It was released in Australia,
                    Belgium and the Netherlands on October 17, 2014, the UK on October 20, 2014 and in North America on October 21, 2014.
                </h3>
            </div>

            <div style="height:32px"></div>

            <div class="divNewAlbum">
                <a class="txtWhite float-right txtMoreAlbum">More New Albums</a>
                <div class="float-right divLine"></div>
            </div>
        </div>
    </div>
</div>
